/* About us story*/
.story-section{
    padding:80px 80px;
    background:#f6f6f3;
    font-family: Arial, sans-serif;
}

.story-header{
    text-align:center;
    margin-bottom:60px;
}

.story-tag{
    color:#f28c38;
    text-transform:uppercase;
    letter-spacing:2px;
    /*font-size:14px;*/
    
}

.story-header h2{
    /*font-size:42px;*/
    color:#2f4634;
    margin:10px 0;
}

.story-intro{
    max-width:600px;
    margin:auto;
    color:#6b6b6b;
}


.story-container{
    display:flex;
    gap:60px;
    align-items:center;
    justify-content: center;
}


.story-image img{
    width:100%;
    max-width:500px;
    border-radius:15px;
}


.story-text h3{
    color:#4ea64e;
   /* font-size:28px;*/
    margin-bottom:15px;
}

.story-text p{
    margin-bottom:15px;
    line-height:1.6;
    color:#555;
}

.story-image,
.story-text {
    flex: 1;
}

.story-list{
    list-style:none;
    padding:0;
    margin-top:20px;
}

.story-list li{
    margin-bottom:10px;
    padding-left:25px;
    position:relative;
}

.story-list li::before{
    content:"✔";
    color:#4ea64e;
    position:absolute;
    left:0;
}


.variety-container {
  background-color: #e7e4dc;
  padding: 60px 90px;
  border-radius: 30px;
  width: 100%;
  max-width: 1100px;
  margin: 80px auto 0 auto;  
}




.variety-container h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #1e2d2f;
  /*font-size: 28px;*/
  font-weight: 700;
}
/*
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }*/

  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f8f8f6;
    border-radius: 18px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: 0.3s ease;
  }

.card:hover {
    transform: translateY(-5px);
  }

.icon {
    font-size: 40px;
    margin-bottom: 15px;
  }

.card h4 {
    font-size: 16px;
    color: #1e2d2f;
    font-weight: 600;
  }

  


/* Responsive */
@media(max-width:900px){

  .story-container{
      flex-direction:column;
      text-align:center;
  }

  .story-text{
      max-width:600px;
      text-align: left;
  }

 /* .story-intro p{
    font-size: 20px;

  }
*/
  .story-text h3{
    text-align: center;
  }

  /*.grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px
      }*/

 

}


@media (max-width: 500px) {

  .story-section{
    padding: 30px;
  }

  .variety-container{
      padding: 30px 20px;
      border-radius: 20px;
      margin: 60px auto;
  }


}