/* global reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #230000;
    overflow-x: hidden;
  
}


main{
    padding-top: 70px;;
    padding-left: 0px;
    
}

/* Base Typography */
/*
body{
font-family:'Poppins', sans-serif;
line-height:1.6;
color:#333;
}*/

h1{
font-size:clamp(32px, 5vw, 65px);
font-weight:800;
line-height:1.2;
}

h2{
font-size:clamp(20px, 3.5vw, 40px);
font-weight:700;
}

h3{
font-size:clamp(16px, 2.5vw, 20px);
font-weight:100;/*600*/
}

p{
font-size:clamp(15px, 1.3vw, 18px);
color:#555;
}

